* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: linen;
  font-family: "Lato", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

.header {
  position: sticky;
  top: 0;
}

h1 {
  margin-bottom: 10px;
}

#navbar {
  background-color: firebrick;
  display: flex;
  justify-content: space-between;
  /*padding: 20px;*/
  font-weight: 400;
}

#navname {
  font-size: 1.5rem;
  padding: 14px 20px;
}

#navname > a {
  text-decoration: none;
  color: linen;
}

.navlink {
  text-decoration: none;
  padding: 20px;
  color: linen;
  display: inline-block;
  height: inherit;
  text-align: center;
}

.navlink:hover {
  background-color: #336699;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#welcome-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(black, #19334d);
}

#welcome-section > div {
  margin: 1.75rem;
  padding: 20px;
  text-align: center;
  width: 50%;
}

#welcome-section > div > p {
  font-style: italic;
}

.quote {
  font-family: Georgia, serif;
  font-size: 1.5rem;
  font-style: italic;
}

.quote::before {
  content: '" ';
}

.quote::after {
  content: ' "';
}

#author {
  font-family: Garamond, serif;
}

#about-section {
  background-color: #204060;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
}

#projects {
  background-color: #336699;
  padding: 60px 20px;
  text-align: center;
}

#projects > h1 {
  padding: 20px;

}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.project-tile {
  background-color: #d9e6f2;
  width: 100%;
  height: 350px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.project-grid > a {
  color: #336699;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.project-image {
  height: calc(100% - 50px);
  width: 100%;
  object-fit: contain;
}

.project-text {
  font-size: 18px;
  font-weight: bold;
  color: #336699;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

hr {
  height: 1px;
  background-color: lightblue;
  border-color: lightblue;
  margin: 25px 0;
}

#contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#contact > h1 {
  display: flex;
  align-content: center;
  justify-content: center;
}

.contact-icons {
  display: flex;
  justify-content: center;
}

.contact-icons > a {
  color: linen;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
  border-top: 0.5em solid firebrick;
  padding: 10px;
}

footer > p {
  color: linen;
  float: right;
}

@media screen and (max-width: 600px) {
  #navbar{
    flex-direction: column;
  }

  .navlink {
    border-bottom: 1px solid black;
  }

  .project-grid {
    display: grid;
    grid-template-columns: auto;
  }
}
